.rxsq-requirements {
  position: relative
}

.rxsq-requirements .requirements-bg {
  display: block;
  width: 80%;
  margin: 0 auto 30px
}

.rxsq-requirements ul.requirements-content {
  width: 80%;
  padding: 10px;
  margin: 0 auto 60px
}

.rxsq-requirements ul.requirements-content li {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 16px
}

.rxsq-requirements ul.requirements-content li .requirements-tip {
  font-size: 14px
}

.rxsq-requirements ul.requirements-content span.glyphicon-stop {
  margin-right: 10px
}

@media (max-width:1200px) {
  .rxsq-requirements ul.requirements-content li {
    font-size: 18px
  }

}

@media (max-width:1024px) {
  .rxsq-requirements .requirements-bg {
    width: 100%
  }

  .rxsq-requirements ul.requirements-content li {
    font-size: 18px
  }

}

@media (max-width:768px) {
  .rxsq-requirements ul.requirements-content li {
    font-size: 16px;
    line-height: 18px
  }

}

@media (max-width:540px) {
  .rxsq-requirements .requirements-bg {
    width: 100%
  }

  .rxsq-requirements ul.requirements-content {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%
  }

  .rxsq-requirements ul.requirements-content li {
    font-size: 16px
  }

  .rxsq-requirements ul.requirements-content li .requirements-tip {
    font-size: 14px
  }

}

@media (max-width:480px) {
  .rxsq-requirements .requirements-bg {
    width: 100%
  }

  .rxsq-requirements ul.requirements-content {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%
  }

  .rxsq-requirements ul.requirements-content li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px
  }

  .rxsq-requirements ul.requirements-content li .requirements-tip {
    font-size: 12px
  }

}
