.njxy-structure {
  margin-bottom: 30px;
}

.njxy-structure ul.structure-introduce {
  background: #b27524;
  width: 80%;
  margin-left: 20%;
  padding: 20px 20px 100px;
}

.njxy-structure ul.structure-introduce li {
  margin-bottom: 15px;
  color: #fff;  /*line-height: 2;*/
  font-size: 18px;
  line-height: 24px;
}

.njxy-structure ul.structure-introduce li span.glyphicon-stop {
  margin-right: 10px;
}

.njxy-structure .structure-school {
  margin-top: -100px;
}

.njxy-structure .structure-school img {
  display: block;
  width: 90%;
  border: 10px solid #b27524;
}

@media (max-width:768px) {
  .njxy-structure ul.structure-introduce {
    width: 100%;
    margin-left: 0;
  }

  .njxy-structure .structure-school img {
    width: 100%;
  }

  .njxy-structure ul.structure-introduce li {
    font-size: 16px;
    line-height: 20px;
  }

}

@media (max-width:480px) {
  .njxy-structure ul.structure-introduce li {
    font-size: 14px;
    line-height: 18px;
  }

}
