.contact-contacts ul {
    width: 80%;
    margin: 10px auto 40px;
    background: #b27524;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    color: #fff;
    padding: 20px
}

.contact-contacts ul li {
    margin-bottom: 20px;
    text-align: right
}

.contact-contacts ul li.contacts-title {
    font-size: 24px;
    border-bottom: 2px solid #deb95f;
    padding-bottom: 10px;
    position: relative;
    text-align: left
}

.contact-contacts ul li.contacts-title .title-right {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 16px
}

.contact-contacts table.contacts-table {
    width: 100%
}

.contact-contacts table.contacts-table td.contacts-left {
    width: 42%;
    text-align: right;
    line-height: 3
}

.contact-contacts table.contacts-table td.contacts-right {
    text-align: left;
    line-height: 24px
}

@media (max-width:1200px) {
    .contact-contacts ul {
        width: 100%
    }

}

@media (max-width:768px) {
    .contact-contacts ul li {
        font-size: 14px
    }

    .contact-contacts ul li.contacts-title {
        font-size: 18px
    }

    .contact-contacts ul li.contacts-title .title-right {
        font-size: 14px;
        top: 4px
    }

    .contact-contacts table.contacts-table td {
        font-size: 14px
    }

}

@media (max-width:530px) {
    .contact-contacts ul li.contacts-title {
        font-size: 18px;
        height: 50px
    }

    .contact-contacts ul li.contacts-title .title-right {
        font-size: 12px;
        top: 24px;
        left: 0px
    }

    .contact-contacts table.contacts-table td {
        font-size: 14px
    }

    .contact-contacts table.contacts-table td.contacts-left {
        width: 10%
    }

}

@media (max-width:490px) {
    .contact-contacts table.contacts-table td.contacts-left {
        width: 12%
    }

    @media (max-width:480px) {
        .contact-contacts {
            width: 100%
        }

        .contact-contacts ul {
            width: 100%
        }

        .contact-contacts ul li {
            font-size: 14px
        }

        .contact-contacts ul li.contacts-title {
            font-size: 16px
        }

        .contact-contacts table.contacts-table td {
            font-size: 14px
        }

    }

}

@media (max-width:420px) {
    .contact-contacts table.contacts-table td.contacts-left {
        width: 14%
    }

}

@media (max-width:370px) {
    .contact-contacts table.contacts-table td.contacts-left {
        width: 16%
    }

}

@media (max-width:334px) {
    .contact-contacts table.contacts-table td.contacts-left {
        width: 20%
    }

}
