.part2-1-1 {
  display: flex;

}
.part2-1 .experience-list-four{
  direction: ltr;
}

.part2-1-1 .history-content {
  text-indent: 20px;
}

.part2-1-1-left {
  flex: 1;
  position: relative;
}

.history-content {
  /* height: 100%; */
}

.left-bottom-pic {
  margin-right: 30px;
  /* width: 100%; */
  position: absolute;
  bottom: 0;
}

.content-main .history-content p {
  line-height: 32px;
}

.part2-1-1-right {
  width: 300px;
}

.part2-1-2 {
  display: flex;
}

.part2-1-2-left {
  width: 380px;
}

.part2-1-2-right {
  flex: 1;
}

.content-main .part2-1-2-right img {
  width: 140px;
}

.part2-1-2-right .teacher-four-name-wrapper {
  margin-bottom: 80px;
  margin-top: 50px;
}

.part2-1-2-right .teacher-headPhoto-four {
  margin-top: 120px;
}


.part2-1-2-right .info-list li:after{
  height: 0;
  content:'';
  clear: both;
  visibility: hidden;
  display: block;
}


.part2-1-2-right .member-four-experience {
  height: 1205px;
}

.part2-1-4-bottom,
.part2-1-3-bottom {
  width: 100%;
  padding: 50px;
  display: flex;
}

.part2-1-4-bottomLeft.teacher-name-wrapper,
.part2-1-3-bottomLeft.teacher-name-wrapper {
  flex: 1;
}

.part2-1-4-bottomRight,
.part2-1-3-bottomRight {
  text-align: right;
  margin-left: 70px;
}

.part2-1-4-bottomRight,
.part2-1-3-bottomRight {
  text-align: right;
  margin-left: 20px;
  width: 390px;
}

.part2-1-4-bottomRight .info-list li,
.part2-1-3-bottomRight .info-list li {
  line-height: 30px;
}

.part2-1-4-bottomRight a,
.part2-1-4-bottomRight .info-list {
  color: #fff;
}

.part2-1-4-bottomRight .square {
  background: #fff;
}


.part2-1-4-bottom.darkBule,
.part2-1-3-bottom.darkBule {
  background: #111836;
}



@media(max-width:479px) {
  .history-content {
    font-size: 14px;
    /* height: 420px; */
  }

  .part2-1 {
    margin-bottom: 60px;
  }
  .content-main .history-content p {
      margin-bottom: 10px; 
  } 
}

@media(min-width:480px) {
  .content-main .history-content p {
      margin-bottom: 30px; 
  }
  .part2-1-4-bottom .teacher-title,
  .part2-1-3-bottom .teacher-title {
    font-size: 16px;
  } 

  .part2-1-2-right .info-list li p{
    float: right;
    
  }    
}

@media(min-width:480px) and (max-width:767px) {
  .history-content {
    /* height: 440px; */
  }

  .part2-1 {
    margin-bottom: 30px;
  }

}

@media(max-width:767px) {
  .part2-1-1-right {
    display: none;
  }

  .left-bottom-pic {
    display: inline-block;
    position: static;
    margin-right: 0;
  }

  .history-content {
    font-size: 14px;
    padding: 0;
  }

  /* part2 */
  .part2-1-2-left {
    display: none;
  }

  .member-four-experience {
    padding: 20px;
  }

  .part2-1-2-right .teacher-headPhoto-four {
    margin-top: 20px;
  }

  /* part3 */
  .part2-1-3-bottomRight,
  .part2-1-4-bottomRight {
    text-align: left;
    margin-left: 0;
    width: 100%;
    line-height: 30px;
  }

  .part2-1-3-bottom,
  .part2-1-4-bottom {
    padding: 20px;
    display: block;
  }

  .part2-1-3-bottom .teacher-title,
  .part2-1-4-bottom .teacher-title {
    margin-bottom: 10px;
    line-height: 24px;
  }

  .part2-1-3-bottomLeft.teacher-name-wrapper,
  .part2-1-4-bottomLeft.teacher-name-wrapper {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .part2-1-2-right .info-list li {
    margin-bottom: 10px;
  }  

}

@media(min-width:768px) {
  .history-content {
    font-size: 16px;
  }

  .part2-1-4-bottom .teacher-title,
  .part2-1-3-bottom .teacher-title {
    font-size: 20px;
    line-height: 30px;
  }
  .part2-1-2-right .info-list li {
    margin-bottom: 40px;
  }  
}
@media(min-width:768px) and (max-width: 1500px) {
  .member-four-experience {

    padding-right: 30px;
    padding-left: 30px;
  }
}  
@media(min-width:768px) and (max-width: 1200px) {


  .part2-1 {
    margin-bottom: 50px;
  }

  .history-content {
    padding: 100px 40px 0 20px;
  }  
  .part2-1-4-bottom .teacher-title,
  .part2-1-3-bottom .teacher-title {
    font-size: 18px;
  }  
}


@media(min-width: 1200px) {
  .history-content {
    padding: 150px 100px 0 20px;
  }
}

@media(min-width:992px) and (max-width: 1500px) {
  .part2-1 {
    margin-bottom: 80px;
  }
}