.njkc-assurance .zh_hk p {
  text-indent: 2em;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 18px
}

.njkc-assurance .en p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 18px
}

.njkc-assurance .assurance-content {
  padding: 10px
}

.njkc-assurance .assurance-title {
  margin-top: 20px
}

@media (max-width:990px) {
  .njkc-assurance .assurance-content img {
    display: none
  }

}

@media (max-width:768px) {
  .njkc-assurance .assurance-content {
    padding: 0
  }

  .njkc-assurance .zh_hk p {
    font-size: 16px;
    margin-bottom: 24px
  }

  .njkc-assurance .en p {
    font-size: 16px;
    margin-bottom: 24px
  }

}

@media (max-width:480px) {
  .njkc-assurance .zh_hk p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 24px
  }

  .njkc-assurance .en p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 24px
  }

}
