.rxsq-procedures{
	font-size: 16px;
  background: #b27524;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.rxsq-procedures ul.procedures-steps{
  padding:40px 12px 0 0;
}
.rxsq-procedures ul.procedures-steps li,.rxsq-procedures ul.procedures-files li{
  margin-bottom: 16px;
  line-height: 22px;
}
.rxsq-procedures ul.procedures-steps li.procedures-steps-address{
  line-height: 30px;
  /*line-height: 3;*/
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.rxsq-procedures ul.procedures-files{
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  color: #000;
}
.rxsq-procedures ul.procedures-files li span.glyphicon-stop{
  margin-right: 10px;
}
.rxsq-procedures ul.procedures-files li.procedures-files-title{
  line-height: 3;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  border-bottom: 4px solid #b27524;
  color: red;
}
.rxsq-procedures ul.procedures-files li.procedures-files-tip{
  color: red;
  font-size: 14px;
}
.rxsq-procedures .procedures-timeline{
  width: 50%;
  margin: 50px auto 30px;
  /*margin-top: -10px;*/
}
.rxsq-procedures .procedures-timeline .timeline-total{
  width: 200px;
  line-height: 3;
  background: #fff;
  color: #b27524;
  text-align: center;
  margin-left: -100px;
  /*border-top: 4px solid #b27524;*/
  margin-top: 4px;
  font-weight: bold;
}
.rxsq-procedures .procedures-timeline ul li{
  position: relative;
  padding:40px 20px 10px;
}
.rxsq-procedures .procedures-timeline ul li i.glyphicon-backward,
.rxsq-procedures .procedures-timeline ul li i.glyphicon-forward{
  position: absolute;
  color: #fff;
  bottom: 0px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
}

.rxsq-procedures .procedures-timeline ul li p{
  padding: 0px;
  margin: 0;
  font-size: 16px;
  padding-bottom: 6px;
}
.rxsq-procedures .procedures-timeline ul li p.timeline-item-title{
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.rxsq-procedures .procedures-timeline ul li.timeline-left{
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  text-align: left;
  position: relative;
}
.rxsq-procedures .procedures-timeline ul li.timeline-right{
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  text-align: right;
}
.rxsq-procedures .procedures-timeline ul li .timeline-title{
  position: absolute;
  top: 14px;
}
.rxsq-procedures .procedures-timeline ul li.timeline-left span.glyphicon-adjust{
  position: absolute;
  left: -17px;
  top: 35px;
  font-size: 30px;
}
.rxsq-procedures .procedures-timeline ul li.timeline-right span.glyphicon-adjust{
  position: absolute;
  right: -17px;
  top: 35px;
  font-size: 30px;
}
@media (max-width: 768px) {
  .rxsq-procedures .procedures-timeline{
    width: 71%;
  }
  .rxsq-procedures ul.procedures-files li.procedures-files-title{
    font-size: 16px;
  }
  .rxsq-procedures .procedures-timeline .timeline-total{
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  .rxsq-procedures .procedures-timeline .timeline-total{
    margin-left: 0;
        font-size: 16px;
    width: 160px;
  }
}
@media (max-width: 480px) {
  .rxsq-procedures ul.procedures-files li, .rxsq-procedures ul.procedures-steps li{
    font-size: 14px;
  }
  .rxsq-procedures ul.procedures-steps li.procedures-steps-address{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rxsq-procedures ul.procedures-files li.procedures-files-title{
    width: 100%;
  }
  .rxsq-procedures .procedures-timeline{
    width: 80%;
  }
  .rxsq-procedures .procedures-timeline .timeline-total{
    margin-left: 0;
        font-size: 14px;
    width: 100px;
  }
  .rxsq-procedures .procedures-timeline ul li p.timeline-item-title{
    font-size: 16px;
  }
  .rxsq-procedures .procedures-timeline ul li p{
    font-size: 14px;
  }
}