.njkc-articulation table {
  width: 60%;
  margin: 0 auto 30px
}

.njkc-articulation table td {
  text-align: center;
  border: 2px solid #fff;
  border-top: 0px;
  border-bottom: 0px;
  padding: 10px;
  background: #dcb454;
  line-height: 24px
}

.njkc-articulation table td.borderleft2 {
  border-left: 4px solid #fff
}

.njkc-articulation table td.articulation-final {
  background: #b27524;
  font-size: 18px;
  color: #fff
}

.njkc-articulation table tr.bordernone td {
  border: none;
  background: #fff
}

.njkc-articulation table tr.bordernone i {
  font-size: 40px;
  color: #edecfb
}

.njkc-articulation table tr.bordernone td.tal {
  text-align: left
}

.njkc-articulation table tr.bordernone td.tar {
  text-align: right
}

@media (max-width:990px) {
  .njkc-articulation table td {
    line-height: 22px;
    font-size: 14px
  }

  .njkc-articulation table td.articulation-final {
    font-size: 16px
  }

}

@media (max-width:768px) {
  .njkc-articulation table {
    width: 90%
  }

  .njkc-articulation table td {
    line-height: 22px;
    font-size: 12px
  }

  .njkc-articulation table td.articulation-final {
    font-size: 14px
  }

  .njkc-articulation table td.fontsize10 {
    font-size: 12px
  }

  .njkc-articulation table tr.bordernone i {
    font-size: 20px
  }

}

@media (max-width:480px) {
  .njkc-articulation table {
    width: auto
  }

  .njkc-articulation table tr.bordernone i {
    font-size: 18px
  }

}

@media (max-width:420px) {
  .njkc-articulation table td.transform_td {
    height: 200px;
    position: relative
  }

  .njkc-articulation table td .transform90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 330%;
    height: 14%;
    position: absolute;
    top: 80px;
    left: -120%
  }

}
