.njkc-cooperation p.cooperation-title {
  color: #b27524;
  line-height: 3;
  font-weight: bold;
  font-size: 22px
}

.njkc-cooperation .zh_hk p.cooperation-info {
  text-indent: 2em;
  margin-bottom: 40px
}

.njkc-cooperation .en p.cooperation-info {
  margin-bottom: 40px
}

.njkc-cooperation .cooperation-foot {
  color: red
}

.njkc-cooperation .cooperation-school img {
  -moz-border-radius: 13px;
  border-radius: 13px
}

.njkc-cooperation .cooperation-school {
  margin: 0 auto;
  width: 100%
}

.njkc-cooperation .cooperation-school:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both
}

.njkc-cooperation .cooperation-school .cooperation-school-item {
  float: left;
  height: 99px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-left: 8px;
  margin-bottom: 4px
}

.njkc-cooperation .cooperation-school img {
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000
}

.cooperation-en {
  min-height: 280px
}

@media (max-width:1200px) {
  .cooperation-en {
    min-height: 320px
  }

}

@media (max-width:990px) {
  .njkc-cooperation p.cooperation-title {
    width: 94%;
    font-size: 16px;
    margin: 0 auto
  }

  .njkc-cooperation .zh_hk p.cooperation-info {
    font-size: 14px;
    width: 94%;
    margin: 0 auto
  }

  .njkc-cooperation .en p.cooperation-info {
    font-size: 14px;
    width: 94%;
    margin: 0 auto
  }

  .njkc-cooperation p.cooperation-foot {
    font-size: 14px;
    width: 94%;
    margin: 20px auto 0
  }

  .cooperation-en, .cooperation-zh {
    height: auto
  }

  .cooperation-en, .cooperation-zh {
    min-height: auto
  }

}

@media (max-width:480px) {
  .njkc-cooperation p.cooperation-title {
    width: 100%;
    font-size: 16px
  }

  .njkc-cooperation .zh_hk p.cooperation-info {
    width: 100%;
    font-size: 14px
  }

  .njkc-cooperation .en p.cooperation-info {
    width: 100%;
    font-size: 14px
  }

  .njkc-cooperation .cooperation-school {
    width: 100%
  }

}
